<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <h1>Gathered articles from <%= Date.today %></h1>

    <% groups.each do |title, articles| %>
      <h2><%= title %></h2>
      <ul>
        <% articles.each do |article| %>
          <li>
            <a href="<%= article[:url] %>" title="<%= article[:title] %>">
              <%= article[:title] %>
            </a>
          </li>
        <% end %>
      </ul>
    <% end %>
  </body>
</html>
